{
  "extends": [
    "stylelint-config-sass-guidelines"
  ],
  "ignoreFiles": [
    "./node_modules/**/*",
    "./dist/css/main.css",
    "./src/base/core/_reboot.scss"
  ],
  "rules": {
    "function-parentheses-space-inside": "never-single-line",
    "max-nesting-depth": 2,
    "number-leading-zero": "never",
    "order/properties-alphabetical-order": null,
    "rule-empty-line-before": [
      "always",
      {
        "ignore": ["after-comment", "inside-block"]
      }
    ],
    "scss/at-extend-no-missing-placeholder": null,
    "scss/dollar-variable-colon-space-after": null,

    "selector-class-pattern": "^[a-z0-9_-]*$",
    "selector-no-qualifying-type": null

  }
}





