@import 'common';

// FORGOT PASSWORD LINK
%form-link-inside-input,
.form__link--inside-input {
  border-left: 1px solid color-ink($input-bg, 'muted-most');
  color: lighten($input-placeholder-color, ($tone * 2));
  display: inline-block;
  line-height: ($input-height - 8px);
  margin-top: 4px;
  padding-left: $spacer;
  position: absolute;
  top: 0;
  right: $spacer;
  left: auto;
  transition: color $transition-base;
  width: auto;

  a {
    color: lighten($input-placeholder-color, ($tone * 2));
  }

  &:hover,
  &:hover a {
    color: color('link');
    text-decoration: none;
  }
}

// Password input w/ forgot? link
%form-control-has-link-inside,
.form__control--has-link-inside {
  padding-right: 10ch;
}
