@import 'common';

// Select styles
// @param {Boolean} $flex - Set to true to assign a flex behavior to the field
// @param {Number|String} $width [$input-inline-width] - Explicit width
// @param {String} $style ['default'] (default|black-double-arrow) -
//   By default, select icon is neat chevron.
//   Set to 'black-double-arrow' to get big fat arrows instead.
@mixin select($flex: false, $width: $input-width, $style: 'default') {
  @include form-item-layout($flex, $width);

  @if ($style == 'default') {
    @extend %select-chevron;
  }

  @else if ($style == 'black-double-arrow') {
    @extend %select-double-arrow;
  }

  // Common form control styles: border, border-radius etc
  @extend %form-control;

  background-position: right 8px center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: ($spacer * 3);
}

// Arrows

%select-chevron,
.select--chevron {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%228%22%20height%3D%226%22%20viewBox%3D%220%200%208%206%22%3E%20%3Cdefs%3E%20%3Cpolygon%20id%3D%2201-a%22%20points%3D%228%201.5%204%205.5%200%201.5%201%20.5%204%203.5%207%20.5%208%201.5%22%2F%3E%20%3C%2Fdefs%3E%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cuse%20fill%3D%22%23000%22%20fill-opacity%3D%22.38%22%20xlink%3Ahref%3D%22%2301-a%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E');
  background-size: 10px 6px;
}

%select-double-arrow,
.select--double-arrow {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2219%22%20viewBox%3D%220%200%2012%2019%22%3E%20%3Cpath%20fill%3D%22%231A1A1A%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%2C0%20L12%2C8%20L0%2C8%20L6%2C0%20Z%20M6%2C19%20L0%2C11%20L12%2C11%20L6%2C19%20Z%22%2F%3E%20%3C%2Fsvg%3E');
}
