// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------

// COLORS NAMES

// Neutrals
$grey-50:     rgb(248, 249, 250);
$grey-100:    rgb(242, 245, 249);
$grey-200:    rgb(235, 238, 242);
$grey-300:    rgb(221, 224, 228);
$grey-400:    rgb(186, 189, 193);
$grey-500:    rgb(155, 158, 162);
$grey-600:    rgb(114, 117, 121);
$grey-700:    rgb(94, 97, 101);
$grey-800:    rgb(63, 66, 70);
$grey-900:    rgb(30, 33, 37);

// Forvetbet Spectrum
// $teal-blue:   rgb(36, 186, 255);
// $blue:        rgb(31, 122, 220);
// $purple:      rgb(31, 23, 163);
// $pink:        rgb(220, 31, 67);
// $red:         rgb(163, 23, 23);
// $orange:      rgb(220, 142, 31);
// $yellow:      rgb(220, 220, 31);
// $green:       rgb(23, 163, 74);

// Spectrum
$teal-blue:   rgb(92, 203, 255) !default;
$blue:        rgb(0, 122, 255) !default;
$purple:      rgb(80, 78, 217) !default;
$pink:        rgb(80, 78, 255) !default;
$red:         rgb(255, 59, 48) !default;
$orange:      rgb(255, 149, 0) !default;
$yellow:      rgb(255, 204, 0) !default;
$green:       rgb(78, 217, 101) !default;


// COLORS ROLES

// The primary color refers to a color that appears most frequently
// in the site. Large UI areas and elements such as header, widget headers and
// promotional boxes should be colored with primary color.

// The secondary color can be used to accent smaller areas, especially for
// interactive elements, such as Call-to-Action buttons. If you don’t have a
// secondary color, you can use the primary color instead for these areas.

// The background color for your application, aka the color on top of which
// the UI is drawn.

// The success, info, warning and danger colors are used primarily
// for the color-coded system feedback.


$colors: (
  primary:                $blue,
  secondary:              $grey-600,
  background-main:        $grey-100,
  background-negative:    $grey-800,
  background-widget:      white,
  link:                   $blue,
  success:                $green,
  info:                   $teal-blue,
  warning:                $yellow,
  danger:                 $red
) !default;

// Color tone interval to create consistent colors tints and shadows using
// lighten() and darken() functions
$tone: 8%;

// Foreground (ink) colors
// @example
//   color: color-ink(color('background-main'), 'muted');
// stylelint-disable indentation
$ink-colors: (
  light-greys: (
    normal:       $grey-900, // primary text
    muted:        $grey-600, // secondary text, active icons
    muted-more:   $grey-500, // hint, disabled text, default icons
    muted-most:   $grey-300 // dividers
  ),
  light: (
    normal:       rgba(black, .87), // primary text
    muted:        rgba(black, .54), // secondary text, active icons
    muted-more:   rgba(black, .38), // hint, disabled text, default icons
    muted-most:   rgba(black, .12) // dividers
  ),
  dark: (
    normal:       white, // primary text, active icons
    muted:        rgba(white, .7), // secondary text
    muted-more:   rgba(white, .5), // hint, disabled text, default icons
    muted-most:   rgba(white, .12) // dividers
  )
);
// stylelint-enable indentation

// COLOR RECOMMENDATIONS

// Primary color filled areas and elements
$header-bg:                     color('primary');
$hero-bg:                       color('primary');
$promo-primary-bg:              color('primary');
$icon-selected-section-fill:    color('primary');
$tab-selected-underline-color:  color('primary');
$emphasis-color:                color('primary');
$progress-bar-fill:             color('primary');

// Secondary color tones filled areas and elements
// $primary-button-bg:             color('secondary');
$promo-secondary-bg:            color('secondary');
$featured-bg:                   color('secondary');
$drawer-header-bg:              color('secondary');

// Backgrounds tones filled areas and elements
$secondary-nav-bg:              color('background-widget');
$betslip-bg:                    color('background-widget');
$footer-bg:                     color('background-negative');


// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------

$font-family-sans-serif:        'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-size-base:                14px; // Prefered unit is rem w/ <html> font-size: 62.5% (10px);
$font-size-base-unitless:       14;
$font-size-small:               12px; // Prefered unit is rem w/ <html> font-size: 62.5% (10px);
$line-height-base-unitless:     20;
$line-height-base:              decimal-round(($line-height-base-unitless / $font-size-base-unitless), 3);
$empty-line:                    ($line-height-base-unitless * 1px); // Prefered unit is rem w/ <html> font-size: 62.5% (10px);


// -----------------------------------------------------------------------------
// LAYOUT
// -----------------------------------------------------------------------------

// Space scale for standard 8-point grid
// Prefered unit is rem
$spacer: 8px;


// -----------------------------------------------------------------------------
// SHAPES
// -----------------------------------------------------------------------------

$border-radius-sm:              3px;
$border-radius:                 5px;
$border-radius-lg:              8px;
$border-radius-xl:              13px;


// -----------------------------------------------------------------------------
// ANIMATION
// -----------------------------------------------------------------------------

$transition-base:               .2s ease-out;


// -----------------------------------------------------------------------------
// Z AXIS
// -----------------------------------------------------------------------------

$shadow-z1:                     0 1px 5px rgba(0, 0, 0, .06), 0 2px 2px rgba(0, 0, 0, .06), 0 1px 1px rgba(0, 0, 0, .08);
// $shadow-z2:                     0 1px 3px -2px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .12);
// $shadow-z2:                     0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, .14), 0px 1px 5px rgba(0, 0, 0, .12);
// $shadow-z2:                     0 2px 4px -1px rgba(0, 0, 0, .12), 0 4px 5px rgba(0, 0, 0, .12), 0 1px 10px -2px rgba(0, 0, 0, .12);
$shadow-z2:                     0 2px 4px -2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .1);
$shadow-z3:                     0 1px 2px rgba(0, 0, 0, .08), 0 10px 16px -4px rgba(0, 0, 0, .08);



// Z-index
$zindex-dropdown:               1000;
$zindex-sticky:                 1020;
$zindex-fixed:                  1030;
$zindex-modal-backdrop:         1040;
$zindex-modal:                  1050;
$zindex-popover:                1060;
$zindex-tooltip:                1070;
