$input-bg:                              #fff;
$input-disabled-bg:                     $grey-100;
$input-color:                           color('ink-color-main');
$input-placeholder-color:               $grey-600;
$input-border-color:                    $border-color;
$input-border-radius:                   $border-radius;
// $input-box-shadow:                      inset 0 1px 1px rgba(#000, .075);

$input-focus-border-color:              color('primary');
$input-valid-border-color:              color('success');
$input-invalid-border-color:            color('danger');

$input-width:                           50%;
$input-height:                          40px;

$input-btn-padding-x:                   ($spacer * 2 - 1px);
$input-btn-padding-y:                   9px; // In fact, it should be ($line-height-base / 2 - .1rem
$input-transition:                      border-color $transition-base, box-shadow $transition-base;

$form-label-color:                      $input-color;
$form-label-width:                      33.333%;

// Global variables directly set font-family, font-size, line-height. Calculated


// -----------------------------------------------------------------------------
// MINI GRID
// -----------------------------------------------------------------------------

// CONTAINER

.form__block {
  display: flex; // @if 'inline': inline-flex;
  flex-wrap: wrap;

  margin-bottom: $empty-line;
  position: relative;
  width: 100%; // @if 'inline': auto;
}


// CELLS

.form__label,
.form__item--left {
  flex: 0 0 $form-label-width;
  width: $form-label-width;
}

.form__control,
.form__item--right {
  flex: 0 0 $input-width;
  width: $input-width;
}

.form__item--offset {
  margin-left: $form-label-width;
}


// -----------------------------------------------------------------------------
// ELEMENTS
// -----------------------------------------------------------------------------

// LABEL

.form__label {
  // If reboot and _page.scss are not used, add font-smoothing,
  // touch-action: manipulation and box-sizing: border-box

  display: inline-block;
  color: $form-label-color;
  cursor: pointer;
  text-align: end;

  // Add border-width of input to top padding in order to align w/ input text
  padding-top: ($input-btn-padding-y + 1px);
  padding-right: $spacer;
  padding-left: $spacer * 4; // @if 'inline': $spacer * 2
  width: $form-label-width; // @if != 'inline'
}

// Text fields

.form__control {
  // If reboot and _page.scss are not used, add font-smoothing,
  // tap-highlight-color, box-sizing: border-box.
  // And speical for textarea add overflow: auto and resize: vertical

  // Reboot does not reset appearance
  appearance: none;
  background-color: $input-bg;
  border-radius: $border-radius-sm;
  border: 1px solid $input-border-color;
  color: $input-color;
  cursor: auto;
  display: inline-block;
  font-family: inherit;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 0;
  padding: $input-btn-padding-y $input-btn-padding-x;
  outline: 0;
  transition: $input-transition;
  // height: 40px; // @if type != 'text-area'

  // add :invalid, :focus:valid, :focus:invalid, :focus:valid.
  &:focus {
    box-shadow: transparentize($input-focus-border-color, .76) 0 0 0 3px;
    border-color: $input-focus-border-color;
  }

  &:disabled {
    background-color: $input-disabled-bg;
  }

  // Success

  .form__control--valid > &,
  &:valid:not(:focus):not(:placeholder-shown) {
    border-color: $input-valid-border-color;
  }

  .form__control--valid > &:focus,
  &:valid:focus {
    box-shadow: transparentize($input-valid-border-color, .76) 0 0 0 3px;
  }

  // Error

  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: $input-invalid-border-color;
  }

  &:invalid:focus {
    box-shadow: transparentize($input-invalid-border-color, .76) 0 0 0 3px;
  }

}

// TODO. Сделать

// if type == 'select'
select.form__control {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%228%22%20height%3D%226%22%20viewBox%3D%220%200%208%206%22%3E%20%3Cdefs%3E%20%3Cpolygon%20id%3D%2201-a%22%20points%3D%228%201.5%204%205.5%200%201.5%201%20.5%204%203.5%207%20.5%208%201.5%22%2F%3E%20%3C%2Fdefs%3E%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cuse%20fill%3D%22%23000%22%20fill-opacity%3D%22.38%22%20xlink%3Ahref%3D%22%2301-a%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E');
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 10px 6px;
  cursor: pointer;
  padding-right: ($spacer * 3);
}

.form__label--check,
.form__label--radio {
  text-align: start;
  cursor: pointer;
  margin-bottom: ($input-btn-padding-y + 1px);
  padding-right: ($spacer * 3);
  padding-left: ($spacer * 3);
  overflow: visible;
  position: relative;
}

.form__option {
  display: inline-block;
  padding: 0;
  position: absolute;
  top: 4px;
  left: 0;
}

// -----------------------------------------------------------------------------
// VALIDATION
// -----------------------------------------------------------------------------


// Help and feedback tooltip. Make it similar to Chrome native validation
// tooltip


legend {
  font-size: $font-size-base;
  font-weight: bold;

  // Override reboot margin
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: $empty-line;
}
