
$button-bg-base:        rgb(23, 163, 74);
$input-border-color:    color-ink(color('background-main'), 'muted-most');

// -----------------------------------------------------------------------------
// Sign In
// -----------------------------------------------------------------------------

// Form container
.login_form dl {
  @extend %form-inline-container;
}

// Inputs-container
header#top #logged_out_bar dd,
header#top #logged_out_bar .password-wrapper {
  @include input-container($horizontal: true);
}

// Labels
.login_form label,
header#top #logged_out_bar .password-wrapper label {
  @include label($type: icon);
}

.label-icon.username,
.username-wrapper > label {
  @extend %icon-user;
}

.label-icon.password,
.password-wrapper > label {
  @extend %icon-password;
}

// Inputs
header#top #logged_out_bar {
  input[type='text'],
  input[type='password'] {
    @include input($inline: true, $type: has-left-icon);
  }
}

// Password input right padding
.sign-in,
.login_form {
  input[type='password'] {
    @extend %form-input-has-link-inside;
  }
}

// Forgot password
header#top #logged_out_bar span {
  @extend %form-link-inside-input;
}

// Buttons
header#top #user_menu input[type='submit'] {
  @include button($color: #fff);
}

header#top #user_menu li#register_button a {
  @include button($style: 'ghost');
  top: -2px;
}

// -----------------------------------------------------------------------------
// Sign Up
// -----------------------------------------------------------------------------

// Labels
body.register table label {
  @include label($type: aligned, $inline: true);
}

// Inputs
body.register input[type='text'],
body.register input[type="password"] {
  @include input($inline: true, $width: 250px);
}

// Button
body.register .register-submit a {
  @include button($style: 'gradient', $size: 'large');
}

// CUSTOM SELECTS
// They are custom component on Forvetbet. Therefore, there are custom styles
// here
body.register .select_menu {
  // @include input($type: select);
  border-color: $input-border-color;
  border-radius: $border-radius;
  height: $input-height;
}

.select_menu .menu_selected {
  padding: 0 $spacer;
  line-height: $input-height;
  height: $input-height;
}

// Caret
.select_menu .select_menu_arrow {
  @extend %form-select-caret;

  background-position: center center;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

body.register [data-select-id="user_country"] .menu_select {
  width: 240px;
}

.select_menu .menu_select {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
}

.select_menu .menu_option:hover {
  background: $grey-100;
}

.select_menu [data-option-selected="true"] {
  background: $grey-200;
}


