// Custom variables
$button-bg-base:      rgb(23, 163, 74);
$button-radius:       4px;
$button-hover-shadow: false;
$button-font-size:    16px;
$button-height:       38px;

$input-border-color:  rgb(17, 17, 17);
$input-radius:        0;

$label-color:         rgb(25, 25, 26);
$label-font-size:     16px;
$label-padding:       8px 0 0 32px;

$captcha-img-width:   100px;

@import '../../common/variables';
@import '../../common/functions';

$label-width:         calc(100% - (#{$spacer} * 2));
$label-td-width:      33.333%;

// Base components
@import '../../vendor/reboot';
@import '../../base/page';
@import '../../components/icons/icons';
@import '../../components/form/all';
@import '../../components/buttons/common';

// Secondary components
@import '../../components/tooltip';

// Helpers
@import '../../common/helpers';


// -----------------------------------------------------------------------------
// Sign In
// -----------------------------------------------------------------------------

// Form container
.login_form dl {
  @extend %form-inline;
}

// Inputs-container
header#top #logged_out_bar dd,
header#top #logged_out_bar .password-wrapper {
  @include input-container($horizontal: true);
  margin-right: $spacer;
}

// Labels
.login_form label,
header#top #logged_out_bar .password-wrapper label {
  @include label-icon();
}

.label-icon.username,
.username-wrapper > label {
  @extend %icon-user;
}

.label-icon.password,
.password-wrapper > label {
  @extend %icon-password;
}

// Inputs
header#top #logged_out_bar {
  input[type='text'],
  input[type='password'] {
    @include input($style: has-left-icon, $width: 200px);
  }
}

// Password input right padding
.sign-in,
.login_form {
  input[type='password'] {
    @extend %form-control-has-link-inside;
  }
}

// Forgot password
header#top #logged_out_bar span {
  @extend %form-link-inside-input;
}

// Buttons
header#top #user_menu input[type='submit'] {
  @include button($color: #fff);
}

header#top #user_menu li#register_button a {
  @include button($style: 'ghost');
  top: -2px;
}

// -----------------------------------------------------------------------------
// Sign Up
// -----------------------------------------------------------------------------

// Labels

td.label {
  width: 33.33%;
}

#registerForm label {
  // Defaults: $flex: false, $width: $label-width, $padding: $label-padding
  @include label-textfield();
}

// Inputs
body.register input[type='text'],
body.register input[type="password"] {
  @include input();
}

// Button
.register-submit a {
  @include button($bg: rgb(0, 74, 28), $color: #fff);
}

// CUSTOM SELECTS
// They are custom component on Forvetbet. Therefore, there are custom styles
// here
body.register .select_menu {
  // @include input($type: select);
  border-color: $input-border-color;
  border-radius: $border-radius;
  height: $input-height;
}

.select_menu .menu_selected {
  padding: 0 $spacer;
  line-height: $input-height;
  height: $input-height;
}

// Caret
.select_menu .select_menu_arrow {
  @extend %select-double-arrow;

  background-position: center center;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
}

body.register [data-select-id="user_country"] .menu_select {
  width: 240px;
}

.select_menu .menu_select {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
}

.select_menu .menu_option:hover {
  background: $grey-100;
}

.select_menu [data-option-selected="true"] {
  background: $grey-200;
}



// CUSTOM CAPTCHA
// They are custom component on Forvetbet. Therefore, there are custom styles
// here

.simple_captcha {
  display: flex;
  flex-wrap: wrap;
}

.simple_captcha_field {
  order: 1;
  margin-right: $spacer;
}

.register .simple_captcha_field input[type='text'] {
  width: auto;
  max-width: $input-width - $captcha-img-width - $spacer;
}

body.register table .simple_captcha_image {
  order: 2;
  margin-bottom: 0;
  height: $input-height;

  img {
    width: $captcha-img-width;
    height: $input-height;
  }
}

.simple_captcha_label {
  @extend %form-helper;

  order: 3;
}

// TABLE

#registerForm td {
  vertical-align: top;
  padding-bottom: 16px;
}

.register td.label {
  width: $label-td-width;
}

.register td[colspan='3'] {
  padding-left: $label-td-width;
}

// Temporary
.error-message {
  display: none;
}
