html {
  // Base font-size has set up to of 62.5% (10px) to have the convenience
  // of sizing rems in a way that is similar to using px.
  // .my-class { margin-bottom: 2.4rem; }
  font-size: 62.5%;
}

body {
  // Anti-alising. Autoprefixer doesn’t support font-smoothing
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background-color: color('background-main');
  color: color-ink(color('background-main'));
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}
