// TODO. Create dark theme overrides
// <section class="theme--dark">
//   <button class="btn btn--primary">
//     Still dark
//   </button>

//   <button class="btn">
//     Me too!
//   </button>
// </section>

@import 'mixins';

.btn--default {
  background-color: $button-bg;
}

/// Button Sizes
.btn--sm {
  @include button-size($button-height-sm);
}

.btn--lg {
  @include button-size($button-height-lg, $button-font-size-lg);
}

/// Block button
.btn--block {
  display: block;
  width: 100%;
}
