// @import './node_modules/bootstrap/scss/functions';
// @import './node_modules/bootstrap/scss/variables';
// @import './node_modules/bootstrap/scss/mixins';
// @import './node_modules/@material/button/mdc-button';

@import 'global/functions';
@import 'global/variables';
// Not sure: define colors in themes or variables.
// @import 'themes/background';


body {
  background: theme-color('background');
  color: color-yiq(theme-color('background'), 'muted');
}

.tint {
  background-color: theme-color-level('danger', 2);
}

.shadow {
  background-color: theme-color-level('warning', -2);
}



